[Unit]
Description=Add the default gateway to the Kernel IP routing table
After=syslog.target network.target

[Service]
Type=forking
GuessMainPID=yes
ExecStart=/bin/bash -c '/sbin/route add default gw 192.168.7.1' 
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

