[Unit]
Description=Run wvdial for handling 3g dongle
After=syslog.target network.target

[Service]
Type=forking
GuessMainPID=yes
ExecStart=/bin/bash -c '/usr/bin/wvdial pin <%= @provider %>'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
