[Unit]
Description=Run ubigate as a Daemon
After=syslog.target network.target

[Service]
Type=forking
GuessMainPID=yes
ExecStart=/bin/bash -c '/bin/nc localhost 1099 | tee /var/log/ubiGATE/mochadForUbiGATE.log | /usr/local/bin/ubiGATE -H "2" -s "https://idh.lirmm.fr"'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
